<% provide(:title, @user.username) %>

<div class="py-4 mx-auto px-4 sm:ml-0 sm:pl-0 sm:mr-auto sm:pr-4">
  <div class="px-4 my-4 font-medium"></div>
  <div class="flex items-baseline">
    <div class="flex-1 mr-2 max-w-lg">
      <%= render "profile_card", user: @user %>
      <% if @microposts.any? %>
        <h3>Microposts (<%= @microposts.count %>)</h3>
        <ol class="feed_microposts_wrap" id="feed_microposts_wrap">
          <%= render @microposts %>
        </ol>
      <% else %>
        <h3>Microposts</h3>
        <ol class="feed_microposts_wrap" id="feed_microposts_wrap"></ol>
      <% end %>
    </div> 
    <div class="flex-1 sticky top-40 ">
      <div class="mx-autoshadow-lg max-w-lg bg-white px-3 pt-3 pb-3 border border-b-0 rounded-t-xl " >投稿フォーム
      </div>
      <%= render "shared/micropost_form", micropost: @micropost, page: "user_page" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "reply" %>