<% content_for(:title) { 'ホーム' } %>
<div class="mx-auto px-4 py-4 sm:ml-0 sm:pl-0 sm:mr-auto sm:pr-4">
  <% if user_signed_in? %>
    <div class="flex items-baseline">
      <div class="flex-1 mr-2 max-w-lg">
        <h3>タイムライン</h3>
        <%= render "shared/feed" %>
      </div>
      <div class="flex-1 sticky top-40 ">
        <h4 class="mx-autoshadow-lg max-w-lg bg-white px-3 pt-3 pb-3 border border-b-0 rounded-t-xl " >投稿フォーム</h4>
        <section id="micropost_form_wrap">
          <%= render "shared/micropost_form", micropost: @micropost, page: "home_page" %>
        </section>
      </div>
    </div>
  <% else %>
  <div class="mt-24">
    <div class="mx-auto text-center my-14">
      <%= image_tag "/images/black_logo.png", width: '600', class: "m-2 inline-block" %>
    </div>
    <div class="mx-auto w-4/6">
      <div class="flex flex-col text-center sm:text-lg my-14">
        <p>CNSは、 <span class="font-bold">キャリア + SNS</span>　なサービスです。</p>
        <p><span class="font-bold">CV</span>に必要な経歴やスキルを登録し、発信を行いましょう。</p>
        <p>まずはログインから</p>
      </div>
    </div>
    <div class="mx-auto w-4/6 text-center">
      <%= link_to "Login", new_user_session_path,
        class: "inline-block  w-48 text-center py-3 m-2 bg-blue-700 rounded-lg font-medium text-white uppercase
                focus:outline-none hover:bg-blue-600 hover:shadow-none" %>
      <%= link_to "Sign up", new_user_registration_path,
        class: "inline-block  w-48 text-center py-3 m-2 bg-gray-700 rounded-lg font-medium text-white uppercase
                focus:outline-none hover:bg-gray-600 hover:shadow-none" %>
    </div>
    <div class="mx-auto w-4/6 text-center my-2">
      <%= link_to "Guest Login", users_guest_sign_in_path, method: :post,
          class: "inline-block  w-48 text-center py-3 bg-green-700 rounded-lg font-medium text-white uppercase
                  focus:outline-none hover:bg-green-600 hover:shadow-none" %>
    </div>
  </div>
  <% end %>
</div>
<%= javascript_pack_tag "reply" %>