<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col h-screen bg-gray-100">
      <!-- Auth Card Container -->
      <div class="grid place-items-center mx-2 my-20 sm:my-auto">
        <!-- Auth Card -->
        <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 px-6 py-10 sm:px-10 sm:py-6 
                bg-white rounded-lg shadow-md lg:shadow-lg">

          <!-- Card Title -->
          <h2 class="text-center font-semibold text-3xl lg:text-4xl text-gray-800">
            Login
          </h2>

          <form class="mt-10" method="POST">
            <!-- Email Input -->
            <%= f.label :email, class: "block text-xs font-semibold text-gray-600 uppercase" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail address", 
                class: "block w-full py-3 px-1 mt-2 text-gray-800 appearance-none border-b-2 border-gray-100
                        focus:text-gray-500 focus:outline-none focus:border-gray-200" %>

            <!-- Password Input -->
            <%= f.label :password, class: "block mt-2 text-xs font-semibold text-gray-600 uppercase" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "password",
                class:"block w-full py-3 px-1 mt-2 mb-4 text-gray-800 appearance-none border-b-2 border-gray-100
                        focus:text-gray-500 focus:outline-none focus:border-gray-200" %>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <!-- Auth Buttton -->
            <%= f.submit "Login",
                class: "w-full py-3 mt-10 bg-blue-700 rounded-lg font-medium text-white uppercase
                        focus:outline-none hover:bg-blue-600 hover:shadow-none" %>

              <%= link_to "Guest Login", users_guest_sign_in_path, method: :post,
                  class: "block text-center w-full py-3 mt-10 bg-gray-700 rounded-lg font-medium text-white uppercase
                          focus:outline-none hover:bg-gray-600 hover:shadow-none" %>

            <!-- Another Auth Routes -->
            <div class="sm:flex sm:flex-wrap mt-8 sm:mb-4 text-sm text-center">
              <%= link_to "Forgot your password?", new_password_path(resource_name),
                class: "flex-2 underline" %>

              <p class="flex-1 text-gray-500 text-md mx-4 my-1 sm:my-auto">
                or
              </p>

              <%= link_to "Sign up", new_registration_path(resource_name),
              class: "flex-2 underline" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>