<div class="max-w-2xl md:w-3/4 py-4 mx-2">
  <div class="px-4 my-4 font-medium">Rooms#show</div>
  <h1 class="text-center">DMの相手</h1>
  <% @entries.each do |e| %>
    <% if e.user_id != current_user.id %>
      <div class="text-center">
        <strong>
          <%#= image_tag e.user.avatar, class:"user-image" %>
            <a class="rooms-user-link" href="/users/<%= e.user.id %>">
              <%= e.user.username %>さん
            </a>
        </strong>
      </div>
    <% end %>
  <% end %>
  <hr>
  <div class="chats">
    <div class="chat" id="chat_box_wrap">
      <% if @messages.present? %>
        <%= render "chatbox", messages: @messages %>
      <% end %>
    </div>
    <div class="posts">
      <%= form_with model: @message do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70,
        class: "px-3 py-1 border border-gray-600" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿",
            class: "base_button m-0 text-sm bg-white hover:bg-gray-100 text-gray-700 border-gray-400 rounded-none" %>
      <% end %>
    </div>
  </div>
</div>
