<div class="max-w-2xl md:w-3/4 py-4">
  <div class="px-4 my-4 font-medium">Micropost</div>
  <div class="before_main_microposts">
    <%= render partial:'micropost', collection: @before_main_micropost_list, as: 'micropost' %>
  </div>
  <div class="main_micropost bg-blue-300 max-w-lg">
    <%= render 'micropost', micropost: @main_micropost %>
  </div>
  <div class="reply_microposts" id="reply_microposts">
    <%= render partial:'micropost', collection: @reply_microposts %>
  </div>
  <div>
    <%= render 'shared/micropost_form', micropost: @micropost, page: "reply_page", main_micropost: @main_micropost %>
  </div>
</div>

<%= javascript_pack_tag 'reply' %>