<div class="col-md-8">
  <h3>Micropost</h3>
  <div class="before_main_microposts">
    <%= render partial:'micropost', collection: @before_main_micropost_list, as: 'micropost' %>
  </div>
  <div class="main_micropost">
    <%= render 'micropost', micropost: @main_micropost %>
  </div>
  <div class="reply_microposts">
    <%= render partial:'micropost', collection: @reply_microposts %>
  </div>
  <aside class="col-md-4">
      <section class="micropost_form_wrap" id="micropost_form_wrap">
        <%= render 'shared/micropost_form', micropost: @micropost %>
      </section>
  </aside>
</div>

<%= javascript_pack_tag 'reply' %>