<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CNS<%= content_for?(:title) ? " | " + yield(:title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <div class="flex items-baseline">
      <div class="fixed md:sticky top-0 flex-shrink-0 w-screen md:w-auto">
        <% if user_signed_in? %>
          <div class="absolute md:static md:max-w-xs w-screen bg-gray-800">
            <%= render 'shared/login_navigation' %>
          </div> 
        <% else %>
          <div class="absolute md:static md:max-w-xs w-screen bg-gray-800">
            <%= render 'shared/logout_navigation' %>
          </div>
        <% end %>
      </div>
      <div class="self-stretch w-full mx-auto mt-32 md:mt-0 md:w-9/12">
        <%= yield %>
      </div>
    </div>
    <%= javascript_pack_tag 'navi_toggle' %>
  </body>
</html>
