<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--<title>Myapp</title>-->
    <title><%= yield(:title) || 'Portfolio' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar">
    <%= render 'shared/flash_messages' %>
    <div class="flex items-baseline">
      <% if user_signed_in? %>
        <div class="sticky top-0 flex-shrink-0 w-auto max-w-xs bg-gray-800 w-3/12">
          <%= render 'shared/login_navigation' %>
        </div> 
      <% else %>
        <div class="sticky top-0 flex-shrink-0 w-auto max-w-xs bg-gray-800 w-3/12">
          <%= render 'shared/logout_navigation' %>
        </div>
      <% end %>
      <div class="self-stretch w-9/12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
