<!DOCTYPE html>
<html>
  <head>
    <!--<title>Myapp</title>-->
    <title><%= yield(:title) || 'Portfolio' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <li><%= link_to 'ホーム', root_path %></li>
    <% if user_signed_in? %>
      <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
      <li><a href="/users/<%= current_user.id %>/cv/new">履歴書作成</a></li>
      <li><a href="/users/<%= current_user.id %>/cv/edit">履歴書編集</a></li>
      <li><a href="/users/<%= current_user.id %>/cv">履歴書</a></li>
      <li><%= link_to 'DM一覧', rooms_path %></li>
      <li><%= link_to 'ユーザー一覧', users_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></li>
    <% end %>

    <%= yield %>
  </body>
</html>
